:root {
    --main-font: consolas, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(61, 55, 55);
    color: white;
    font-family: var(--main-font);
}

main  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


main > * {
    border: 2px solid white;
    margin: 1.5em;
}

h1 {
    border: none;
    font-family: var(--main-font);
    font-style: italic;
}

#menu {
    width: 40%;
}

#output_and_hint_container{
    width: 60%;
    flex: 5em;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    align-items: stretch;
}

#instructions {
    border: none;
}

#output_area {
    width: 100%;
    flex: 5em;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
}


#output {
    font-size: 1.5rem;
    flex: 1;
}

#hint_box {
    border: 2px solid white;
    margin-left: 2em;
    flex: 0.5;
}

@media screen and (max-width: 525px) {
    #hint_box {
        margin-top: 2em;
    }
}

button {
    border: 1px solid rgb(253, 253, 253);
    background: linear-gradient(150deg,  #555, #444);
    color: white;
    font-family: var(--main-font);
    padding: 3%;
    margin: 2%;
    font-size: x-large;
}

#easy_button:hover {  
    background: green;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#medium_button:hover {
    background: rgb(100, 100, 2);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#hard_button:hover {
    background: rgb(153, 4, 4);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#undo_button {
    height: fit-content;
    align-self: center;
    flex-grow: 0;
    border: 3px solid rgb(253, 253, 253);
    border-radius: 100%;
    margin: 0;
}

#output_area > button:hover {
    font-weight: bolder;
    box-shadow: none;
    transition: .8s;
}

#output_area > button:active {
        border: 2px solid rgb(27, 0, 150);
        transform: translateY(1px);
        color: rgb(27, 0, 150);;
}


#level {
    margin-left: auto;
}


#level_info {
    width: 40%;
}

#start_screen {
    font-family: var(--main-font);
    border: none;
    font-size: larger;
}

/* For Hangman layout: */

#game_area {
    display: grid;
}

#game_area > * {
    max-width: 60vw;
}

#submit_guess_button {
    width: 20%;
    margin: auto;
    margin-bottom: .5em;
    font-size: large;
    min-width: fit-content;
}
